body {
    background-color: lightcyan;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: lightblue;
    text-indent: 50px;
}

h2{
    text-align: center;
    color: aqua;
    text-transform: initial;
}

h3{
    text-align: center;
    color: aqua;
    text-transform: initial;
}

p{
    text-align: justify;
    color: black;
    letter-spacing: normal;
}